PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE `users` (`id` TEXT, `name` TEXT, `phone` TEXT, `email` TEXT, `password` TEXT);
INSERT INTO users VALUES(NULL,'madan','8809890976','madan2003@gmail.com','Madan@2003');
INSERT INTO users VALUES(NULL,'Madan A','7204966990','2022cs_madana_b@nie.ac.in','Madan@2003');
INSERT INTO users VALUES(NULL,'Bob','9089789087','bob123@gmail.com','Bobby@12345');
CREATE TABLE `dog` (`dogName` TEXT, `breed` TEXT, `age` TEXT, `appointmentDate` TEXT, `address` TEXT, `pincode` TEXT, `healthDescription` TEXT, `gender` TEXT);
INSERT INTO dog VALUES('scotch','lab','10','2020-09-09','Vidyaranyapuram,Mysore','570008','Cough',NULL);
INSERT INTO dog VALUES('coffee','pug','10','2018-09-09',' No 6,Vidyaranyapuram,Mysore','570008','Cough',NULL);
INSERT INTO dog VALUES('rocky','german','13','2000-02-20','Mysore','340009','fever',NULL);
CREATE TABLE IF NOT EXISTS "adoption" (`dogName` TEXT, `breed` TEXT, `age` TEXT, `gender` TEXT, `status` TEXT, `city` TEXT, `location` TEXT, `phone` TEXT, `description` TEXT, `images` TEXT);
INSERT INTO adoption VALUES('Charlie','Lab','10 months old','Female','Vaccinated','Mysore','Karnataka','98098676790','Angry','https://images.pexels.com/photos/551628/pexels-photo-551628.jpeg?cs=srgb&dl=animal-blur-canine-551628.jpg&fm=jpg');
INSERT INTO adoption VALUES('Bola','adaasas','eesf','wsfsf','sgsf','gdgdg','thtrg','0908767890','gdgdg','client\public\husky.jpeg');
INSERT INTO adoption VALUES('gdgdgd','fbhfgg','nmhmm','hmhg','gmjhmjjm','gtrggdd','gfghf','8790987908','nvhnvhn','https://jooinn.com/images/cute-dog-1.jpg');
CREATE TABLE `adoption_new` (`id` INTEGER PRIMARY KEY AUTOINCREMENT, `dogName` TEXT, `breed` TEXT, `age` TEXT, `gender` TEXT, `status` TEXT, `city` TEXT, `location` TEXT, `phone` TEXT, `description` TEXT, `images` TEXT);
CREATE TABLE `personal_adoption` (`name` TEXT, `email` TEXT, `phone` TEXT PRIMARY KEY, `street` TEXT, `city` TEXT, `state` TEXT, `zipcode` TEXT, `country` TEXT, `adoption_date` TEXT, `notes` TEXT, `question` TEXT);
INSERT INTO personal_adoption VALUES('madan','madan@gmail.com','7878908768','No 6,2 main,16th cross','Mysuru','Karnataka','570008','India','2024-10-11','i love dogs','As a companion');
INSERT INTO personal_adoption VALUES('harsith','harsith@gmail.com','9087689098','Bootal','Mysuru','Karnataka','570008','India','2024-12-20','i love dogs','As a companion');
INSERT INTO personal_adoption VALUES('Harshith M','madanpradeep532@gmail.com','56789086','Siddhartha Layout','mysuru','karnataka','89098','India','2024-12-10','sdf','ffffff');
CREATE TABLE `grooming_form` (`petname` TEXT, `breed` TEXT, `gender` TEXT, `size` TEXT, `aggressive` TEXT, `age` TEXT, `id` INTEGER PRIMARY KEY AUTOINCREMENT);
INSERT INTO grooming_form VALUES('scotch','Labrador','Male','Small','High','<11 Years',1);
INSERT INTO grooming_form VALUES('Madan A','Beagle','Male','Medium','High','< 11 Years',2);
INSERT INTO grooming_form VALUES('Scotch','Labrador','Male','Large','Low','< 11 Years',3);
INSERT INTO sqlite_sequence VALUES('adoption_new',9);
INSERT INTO sqlite_sequence VALUES('grooming_form',6);
COMMIT;
